@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@1,200&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
   font-family: 'Aboreto';
}

a {
   text-decoration: none;
   flex-grow: 3;
   justify-content: center;
   align-self: center;
   color: white;
}

.active {
   color: #5082fc;
}

#root {
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}

.productsWrapper {
   display: flex;
   justify-content: space-between;
}

.searchWrapper {
   margin: 40px 20px;
   display: flex;
   justify-content: space-evenly;
}

@media screen and (max-width: 899.5px) {
   .headerInfo {
      display: none;
   }

   .headerSlider {
      margin-top: 6rem;
   }
}

.productButton.cartClicked .add-cart-icon {
   animation: cart 1.5s ease-in-out forwards;
}

.add-cart-span {
   position: absolute;
   width: 100%;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 3;
   opacity: 1;
}

.added-cart-span {
   z-index: 3;
   opacity: 0;
}

.productButton.cartClicked .add-cart-span {
   animation: addToCart 1.5s ease-in-out forwards;
}

.productButton.cartClicked .added-cart-span {
   animation: addedToCart 1.5s ease-in-out forwards;
}

.add-cart-icon {
   position: absolute;
   z-index: 2;
   top: 50%;
   left: -10%;
   transform: translate(-50%, -50%);
}

@keyframes cart {
   0% {
      left: -10%;
   }
   40%,
   60% {
      left: 50%;
   }
   100% {
      left: 110%;
   }
}

@keyframes addToCart {
   0% {
      opacity: 1;
   }
   20%,
   100% {
      opacity: 0;
   }
}

@keyframes addedToCart {
   0%,
   80% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}
