* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.wrapper {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.products {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   gap: 20px;
}

.product {
   text-align: center;
}

img {
   width: 300px;
}
