* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   user-select: none;
}

a {
   text-decoration: none;
   flex-grow: 3;
   justify-content: center;
   align-self: center;
   color: rgb(40, 34, 66);
}

#root{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
}